<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Conclusion</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	</head>
	<body>
		<nav class="navbar is-primary is-spaced">
			<div class="navbar-brand">
				<a class="navbar-item has-text-dark is-size-5" href="../">
					<strong>CPS 530 - Bulma/Django</strong>
				</a>
				<a id="burger" class="navbar-burger">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<div id="menu" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="../installation">
						Installation
					</a>
					<a class="navbar-item" href="../tutorial">
						Tutorial
					</a>
					<a class="navbar-item" href="../results">
						Results
					</a>
					<a class="navbar-item" href="">
						Conclusion
					</a>
					<a class="navbar-item" href="../credits">
						Credits
					</a>
				</div>
			</div>
		</nav>
		{% load static %}
		<script src="{% static 'pages/burger.js' %}"></script>
		<section class="section message">
			<div class="message-header">
				<p class="title has-text-light">Bulma / Django Review</p>
			</div>
			<div class="message-body">
				<p class="subtitle">Bulma Review</p>
				<ul>
					<li><strong>Installation Difficulty: </strong>Bulma was extremely easy to install since all I really had to do was link the stylesheet and the instructions were provided easily on the website, so all it took was a quick copy and paste.</li>
					<li><strong>Page Creation Difficulty: </strong>Given that I already had knowledge of bootstrap, it was as if I had always used Bulma. They are basically identical in usage so if you know one, you are already capable of using the other. All I lacked was knowledge about the specific classes of bulma, but this information was easy to find in Bulma's excellent documentation.</li>
					<li><strong>Learning Curve: </strong>Due to my knowledge of bootstrap, I was ready to use Bulma out of the box right away. It was extremely easy to learn and use.</li>
				</ul>
				<br>
				<p class="subtitle">Django Review</p>
				<ul>
					<li><strong>Installation Difficulty: </strong>I already had python set up and ready to go so this was very easy to install with a quick pip install command.</li>
					<li><strong>Setup Difficulty: </strong>Django is unlike the other frameworks we used in class in a lot of ways. It took a bit more research to find the information I needed to properly get everything set up and ready to use relative to other frameworks we've used in class, but it wasn't too bad overall.</li>
					<li><strong>Performance Expectations: </strong>Django was capable of doing everything I needed it to do and I was able to meet all my goals for the functionality of the website and calculator in particular.</li>
					<li><strong>Learning Curve: </strong>The learning curve was a bit steeper than other frameworks I've used with regard to learning how Django reads directory organization, but once I managed to get everything set up to work the way I intended, all that really remained was coding and since this was entirely done in python which I am very familiar with, it was very easy to get the functionality I needed working.</li>
				</ul>
				<br>
				<p class="subtitle">Overall</p>
				<ul>
					<li><strong>Would I do things differently?: </strong>No, overall, I was pleased with the pace of how quickly I managed to get everything working and I greatly enjoyed learning Django in particular.</li>
					<li><strong>Did I regret my choices?: </strong>No, not at all, I managed to get everything done in a reasonable amount of time and without too much frustration.</li>
				</ul>
			</div>
		</section>
	</body>
</html>